.ham-menu{
    display: flex;
    justify-content: flex-end;
}

.hm-button{
    background: transparent;
    border: none;
    &:hover{
        cursor:pointer;
    }
}

//-----------------------------------PARAMETRE D'ANIMATION--------------------------------------------//

.hm-button .line{
    transition:
    y 200ms ease-in 200ms,
    rotate 200ms ease-in,
    opacity 0ms 200ms;
    transform-origin: center; //*permet que l'animation aie comme point clé le centre
    //fill:; //*pour changer la couleur du burger
}

.hm-button[aria-expended="true"] .line{
    transition:
    y 200ms ease-in 200ms,
    rotate 200ms ease-in 200ms,
    opacity 0ms 200ms;
}

//-----------------------------------ANIMATION--------------------------------------------//

.hm-button[aria-expended="true"] :is(.top, .bottom){
    y:45; //!ATTENTION !!! ceci n'est pas pris (encore) en compte dans firefox mais dans chrome oui -- pareil pour :is() au dessus
    //transform: translateY(20px);
}

//!POUR FIREFOX
/* 
.hm-button[aria-expended="true"] .top{
    transform: translateY(20px);
}
.hm-button[aria-expended="true"] .bottom{
    transform: translateY(-20px);
}*/

.hm-button[aria-expended="true"] .top{
    rotate:45deg;
}

.hm-button[aria-expended="true"] .middle{
    opacity:0;
}

.hm-button[aria-expended="true"] .bottom{
    rotate:-45deg;
}


@media screen and (min-width: 1023px) {
.ham-menu{
    display: none;
}
}