@use "helper" as h;
//EXEMPLE: color: h.$red;

.tab{
    width:100%;
    padding: 3%;
}

table{
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}

thead{
    background-color: h.$jaune ;
}

th{
    padding: 0.5em;
}

tr{
    font-family: h.$roboto;
}

tr:nth-of-type(even){
    background-color: h.$lightgrey;
}

td{
    padding: 1%;
}

.tab-title{
    font-family: h.$inter;
    width: 20em;
    font-size:2em;
    font-weight: 900;
    padding-bottom: 1em;
}

.tab01-img{
    position: absolute;
    right:0; 
    width:5em;
}

.tab02-img{
    position: absolute;
    left:0; 
    width:5em;
}

.input{
    padding: 1em;
    margin:1em;
    border: 1px solid black;
    border-radius: 1em;
}

@media screen and (min-width: 1023px) {

.tab{
    padding: 10%;
}
    
table{
    width: 80%;
    text-align: left;
    border-collapse: collapse;
}

.tab-title{
    font-size:3em;
    padding-bottom: 1em;
}

.tab01-img{
    width:10em;
}

.tab02-img{
    width:10em;

}
}
