@use "helper" as h;
//EXEMPLE: color: h.$red;

.tab{
    padding: 5%;
}

table{
    width:40em;
    text-align: left;
    border-collapse: collapse;
}

.tableau{
    overflow-x: auto;
}

thead{
    background-color: h.$jaune ;
}

th{
   padding: 0.5em;
}

tr{
    font-family: h.$roboto;
}

tr:nth-of-type(even){
    background-color: h.$lightgrey;
}

td{
    padding: 1%;
}

.tab-title{
    font-family: h.$inter;
    width: 20em;
    font-size:2em;
    font-weight: 900;
    padding: 4% 0%;
}

.title02, .title03{
    margin-top: 3.5em;
}

.img-yellow19{
    position: absolute;
    top:0;
    z-index: -1;
    margin-left: 5em;
    margin-top: 14em;
    width:12em;
}

.tab01-img{
    position: absolute;
    margin-top: 2em;
    right:0; 
    width:7em;
}

.tab02-img{
    position: absolute;
    left:0; 
    width:7em;

}

.input{
    padding: 1em;
    border: px solid h.$jaune;
    border-radius: 1em;
    margin: 1em;
    margin-left:12em;
}

@media screen and (min-width: 1023px) {

.tab{
  padding-left: 10%;
}
    
table{
    width: 90%;
    text-align: left;
    border-collapse: collapse;
}


.tab-title{
    font-size:3em;
    padding-bottom: 1em;
}

.title02, .title03{
    margin-top: 1em;
}

.tab01-img{
    width:10em;

}

.tab02-img{
    top:0;
    margin-top: 93.5em;
    width:8em;

}

.img-yellow19{
    margin-left: 7em;
    margin-top: 21em;
    width:17em;
}

.input{
    margin-left:56em;
}
}
