@use "helper" as h;
//EXEMPLE: color: h.$red;

footer {
  font-family: h.$roboto;
  font-weight: 500;
  width: 100%;
  flex-direction: column;
  
}

.social-container { 
  //background-color: aquamarine;
  width: 100%;
  height: auto;
  margin: 50px;
  padding: 2.5rem;
  display: grid;
  border-top: h.$jaune 2em;  //Chercher pourquoi ça ne fct pas
  border-bottom: h.$bleu 1em;
  
  /*grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;*/
}

.footer-title {
  font-family: h.$roboto;
  padding: 0.5em;
  box-sizing: border-box;
  position: absolute;
  border: 5px solid #F9DE4E;
  grid-area: 1 / 1 / 2 / 2;
}

.social-contact {
  background-color: aquamarine;
  grid-area: 1 / 2 / 2 / 3;
  display: inline;
  list-style: none;
}

/*.logo-location {
  position: absolute;
  width: 100px; // Largeur souhaitée de votre logo
  height: auto; // Pour conserver les proportions originales du logo
}

.logo-phone {
  position: absolute;
  //width: 100px;
  //height: auto;
  height: 19.469999313354492px;
  width: 14px;
  left: 5px;
  top: 2px;
  border-radius: 0px;

}

.logo-printer {
  position: absolute;
  width: 100px;
  height: auto;
};*/

.title-social {
  grid-area: 1 / 2 / 2 / 3;
  display: inline;
  list-style: none;
  font-family: h.$inter;
  size: 14px;
}

.social-media{
  list-style: none; // Supprime les puces de la liste
  display: flex; // Active le mode flexbox
  justify-content: space-between; // Centre les éléments horizontalement

}

.menu-footer {
  
}

.link-footer {
  display: inline;
}