@use "helper" as h;
//EXEMPLE: color: h.$red;

.header-home{
    font-family: h.$roboto;
    font-weight: 500;
    width:100%;
    background-color: h.$jaune;
    text-decoration: none;
}

.menu-container{
    display:grid;
}

.menu-title{
    grid-area: 1 / 1 / 2 / 2;
    padding: 1em;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
}

.menu-list-mobile{

    transition: ease 0.3s;
    list-style-type: none;
    background: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-left: -200%;
    font-size: 1.3em;
    top: 3.5em;
    width: 100%;
    padding-bottom: 1em;
    position:absolute;
    z-index: 1;
    text-align: center;
    li{
        padding-top: 1em;
    }
}

.menu {
    display:none;
}

//----------------------------Media queries-------------------------------//

@media screen and (min-width: 818px) {

.menu-container{
    display:flex;
}

.menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    cursor :pointer;
}

.menu-list{
    width:30em;
    justify-content: space-around;
    li{
        margin-right:2em;
    }
}
.menu-log{
    width:35em;
    justify-content: flex-end;
    li{
        margin-right:2em;
    }
}

.menu-signup{
    background-color: white;
    color:black;
    border-radius: 0.5em;
    height:1.5em;
    margin-left:1em;
    padding: 0.2em 1em;
}

.menu-list-mobile{
    display: none;
}

}