@use "helper" as h;
//EXEMPLE: color: h.$red;

.h{
    background-color: h.$jaune;
    font-family: h.$roboto;
    padding-bottom: 3.5em;
}

.img-rectwhite02{
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 6em;
    width: 90%;
    height: 4em;
}

//----------------------------Media queries-------------------------------//

@media screen and (min-width: 818px) {
   
.h{

    padding-bottom: 5.7em;
}

.img-rectwhite02{
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 6.2em;
    height:6em;
    }
}