.panneau-container{
    background-color: $jaune;
}
.title-panneau{
    text-align:center;
    font-size:3em;
    font-family: "roboto";
}

.img-panneau{
    width:400px;
}

//----------------------------Media queries-------------------------------//

@media screen and (min-width: 1023px) {

.panneau-container{
    display: grid;
    padding:1%;
}    

.img-panneau{
    grid-area: 1 / 2 / 2 / 3;
    width:600px;
}

.title-panneau{
    grid-area: 1 / 1 / 2 / 2;
    padding: 5%;
    text-align: left;
    padding-top: 1em;
    font-size: 5em;
}
}