@use "helper" as h;
//EXEMPLE: color: h.$red;

.panneau-container{
    background-color: h.$jaune;
    padding-bottom: 1em;
}

.title-panneau{
    text-align:center;
    padding-top:1em;
    font-size:2em;
    font-family: h.$roboto;
}

.img-panneau{
    width:450px;
}

.img-rectwhite{
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 32.5em;
    width: 90%;
    height: 4em;
}
//----------------------------Media queries-------------------------------//

@media screen and (min-width: 818px) {

.panneau-container{
    padding-bottom: 4em;
}
    
.panneau{
    display: grid;
    padding:1%;
}    

.img-panneau{
    grid-area: 1 / 2 / 2 / 3;
    width:600px;
}

.title-panneau{
    grid-area: 1 / 1 / 2 / 2;
    padding: 5%;
    text-align: left;
    padding-top: 1em;
    font-size: 5em;
}

.img-rectwhite{
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 34em;
    width: 90%;
    height: 7.2em;
}
}