@use "helper" as h;

.panneauFooter {
  
  width: 75%;
  height: auto;
  display: flex;
  margin: 0 0 15px 15px;
  padding: 0 0 15px 15px;
  .title-panneauFooter {
    
    width: 50%;
    height: auto;
    text-transform: uppercase;
    display: flex;
    text-align: left;
    padding-top: 1em;
    font-size: 30px;
    font-weight: 900;
    font-family: h.$roboto;
    
  }
    .wrapper-imgFooter {
      
      width: 100%;
      height: auto;
      display: flex;
      
      }
    .rect-yellow {
      position: absolute;
      width: 70%;
      height: auto;
      float: right;
      margin-left: 50px;
      /*left: 668.96px
      margin-left: 1000px;
      translate: translateX(1000px);
      right: 0;
      z-index: 2;*/
    }

    .footer-img {
      position: absolute;
      right: 0;
      width: 30%;
      height: 30%;
      /*top: 0;
      translate: translateX(-50px);
      translate: translateY(50px);*/
      }
}
//------------------------------Media queries----------------------------------//

@media screen and (min-width: 818px) {

.panneauFooter {
  
  width: 100%;
  margin: 0 0 40px 30px;
  padding: 0 0 40px 30px;

  .title-panneauFooter {
    font-size: 68px;
    width: 12em;
    padding: 1%;
  }

  /*.wrapper-imgFooter {

  }*/

  .rect-yellow {
    width: 65%;
    height: auto;
  } 

  .footer-img {
    font-weight: 900;
    width: 40%;
    height: auto;
  }
}}




  



    

