@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$jaune:  #F9DE49;
$bleu: #7BB9FC;
$blanc: #FFFF;
