@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.ham-menu {
  display: flex;
  justify-content: flex-end;
  grid-area: 1/2/2/3;
  padding-right: 1em;
}

.hm-button {
  background: transparent;
  border: none;
}
.hm-button:hover {
  cursor: pointer;
}

.hm-button .line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in, opacity 0ms 200ms;
  transform-origin: center;
}

.hm-button[aria-expended=true] .line {
  transition: y 200ms ease-in 200ms, rotate 200ms ease-in 200ms, opacity 0ms 200ms;
}

.hm-button[aria-expended=true] :is(.top, .bottom) {
  y: 45;
}

/* 
.hm-button[aria-expended="true"] .top{
    transform: translateY(20px);
}
.hm-button[aria-expended="true"] .bottom{
    transform: translateY(-20px);
}*/
.hm-button[aria-expended=true] .top {
  rotate: 45deg;
}

.hm-button[aria-expended=true] .middle {
  opacity: 0;
}

.hm-button[aria-expended=true] .bottom {
  rotate: -45deg;
}

@media screen and (min-width: 818px) {
  .ham-menu {
    display: none;
  }
}
.h {
  background-color: #F9DE49;
  font-family: "Roboto";
  padding-bottom: 3.5em;
}

.img-rectwhite02 {
  position: absolute;
  top: 0;
  left: 5%;
  margin-top: 6em;
  width: 90%;
  height: 4em;
}

@media screen and (min-width: 818px) {
  .h {
    padding-bottom: 5.7em;
  }
  .img-rectwhite02 {
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 6.2em;
    height: 6em;
  }
}
footer {
  font-family: "Roboto";
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.social-container {
  width: 100%;
  height: auto;
  margin: 1.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: solid #F9DE49 0.125rem;
  border-bottom: solid #7BB9FC 0.0625rem;
}

.wrapper-title {
  width: 25%;
}
.wrapper-title .footer-title {
  font-family: "Roboto";
  padding: 0.5em;
  box-sizing: border-box;
  border: 3px solid #f9de4e;
  grid-column-start: 1;
  grid-column-end: 1;
}

.social-div {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.social-media img {
  width: 1.5rem;
  height: 1.5rem;
}

.logo-location {
  width: auto;
  height: 1.5rem;
}

.social-contact {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.social-contact img {
  width: 1.5rem;
  height: 1.5rem;
}

.wrapper {
  display: flex;
  width: 100%;
}

/*
  .title-social {
    display: inline;
    list-style: none;
    font-family: h.$inter;
    size: 14px;
  }

  .menu-footer {
  }

  .link-footer {
    display: inline;
  }
  */
.panneau-container {
  background-color: #F9DE49;
  padding-bottom: 1em;
}

.title-panneau {
  text-align: center;
  padding-top: 1em;
  font-size: 2em;
  font-family: "Roboto";
}

.img-panneau {
  width: 400px;
}

.img-rectwhite {
  position: absolute;
  top: 0;
  left: 5%;
  margin-top: 29.7em;
  width: 90%;
  height: 4em;
}

@media screen and (min-width: 818px) {
  .panneau-container {
    padding-bottom: 4em;
  }
  .panneau {
    display: grid;
    padding: 1%;
  }
  .img-panneau {
    grid-area: 1/2/2/3;
    width: 600px;
  }
  .title-panneau {
    grid-area: 1/1/2/2;
    padding: 5%;
    text-align: left;
    padding-top: 1em;
    font-size: 5em;
  }
  .img-rectwhite {
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 34em;
    width: 90%;
    height: 7.2em;
  }
}
.tab {
  width: 90%;
  padding: 5%;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

thead {
  background-color: #F9DE49;
}

th {
  padding: 0.5em;
}

tr {
  font-family: "Roboto";
}

tr:nth-of-type(even) {
  background-color: #F5F5F5;
}

td {
  padding: 1%;
}

.tab-title {
  font-family: "Inter";
  width: 20em;
  font-size: 2em;
  font-weight: 900;
  padding: 4% 0%;
}

.title02, .title03 {
  margin-top: 1em;
}

.img-yellow19 {
  position: absolute;
  top: 0;
  z-index: -1;
  margin-left: 5em;
  margin-top: 13em;
}

.tab01-img {
  position: absolute;
  margin-top: 2em;
  right: 0;
  width: 5em;
}

.tab02-img {
  position: absolute;
  left: 0;
  width: 5em;
}

.input {
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 1em;
}

@media screen and (min-width: 1023px) {
  .tab {
    padding-left: 10%;
  }
  table {
    width: 90%;
    text-align: left;
    border-collapse: collapse;
  }
  .tab-title {
    font-size: 3em;
    padding-bottom: 1em;
  }
  .tab01-img {
    width: 10em;
  }
  .tab02-img {
    top: 0;
    margin-top: 95em;
    width: 8em;
  }
  .img-yellow19 {
    margin-left: 7em;
    margin-top: 21em;
  }
}
.header-home {
  font-family: "Roboto";
  font-weight: 500;
  width: 100%;
  background-color: #F9DE49;
  text-decoration: none;
}

.menu-container {
  display: grid;
}

.menu-title {
  grid-area: 1/1/2/2;
  padding: 1em;
  font-weight: 700;
  font-size: 2em;
  cursor: pointer;
}

.menu-list-mobile {
  transition: ease 0.3s;
  list-style-type: none;
  background: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: -200%;
  font-size: 1.3em;
  top: 3.5em;
  width: 100%;
  padding-bottom: 1em;
  position: absolute;
  z-index: 1;
  text-align: center;
}
.menu-list-mobile li {
  padding-top: 1em;
}

.menu {
  display: none;
}

@media screen and (min-width: 818px) {
  .menu-container {
    display: flex;
  }
  .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    cursor: pointer;
  }
  .menu-list {
    width: 30em;
    justify-content: space-around;
  }
  .menu-list li {
    margin-right: 2em;
  }
  .menu-log {
    width: 35em;
    justify-content: flex-end;
  }
  .menu-log li {
    margin-right: 2em;
  }
  .menu-signup {
    background-color: white;
    color: black;
    border-radius: 0.5em;
    height: 1.5em;
    margin-left: 1em;
    padding: 0.2em 1em;
  }
  .menu-list-mobile {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */