$color: #9698D6;
body {
  background-color: $color;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;


  form {
    width: 40%;
    box-shadow: 1px 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
    background-color: #fff;

    label {
      margin-top: 5%;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      outline: none;
      border: none;
      background-color: #ecf0f1;
      padding: 10px;
      line-height: 2;
      font-size: 16px;
      margin-bottom: 15%;
      margin-top: 5%;
    }

    button {
      background-color: $color;
      color: #fff;
      font-size: 18px;
      width: 100%;
      outline: none;
      border: none;
      padding: 15px;
      margin-top: 20px;
      cursor: pointer;

      :hover {
        background-color: #686de0;
      }
    }
  }
}

